.card {
    width: 200px;
    height: 250px;
    text-align: center;
    background-color: #f0f0f0; /* Light gray */
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;
    font-family: sans-serif;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.card img {
    width: 200px;
}